@model List<Category>

<div class=" mt-5 mb-5">
    <form asp-action="productserach" asp-controller="Home" method="get">
        <div class="row">
            <input type="submit" class="col-sm-2 btn btn-primary" value="serach" />
            <div class="col-sm-10">
                <input type="text" name="Xname" id="Xname"
                       style="text-align:right" class="form-control" placeholder="Serach" />
            </div>

        </div>

    </form>

</div>



<section id="services" class="services section-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>اقسام الموقع</h2>
            <p>منجات اجهزة كهربائية</p>
        </div>
        <div class="row gy-4">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-blue" style=" width: 100%;">
                        <div class="icon">
                            <img src="../../@item.Photo" width="100" height="100" viewbox="0 0 600 600" />

                        </div>
                        <h4><a href="/home/products/@item.Id">@item.Name</a></h4>

                    </div>
                </div>
            }

        </div>
    </div>
</section>


<section id="portfolio" class="portfolio">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>المنتجات</h2>
            <p> كل ما تتمناه واكتر</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">كل المنتجات</li>

                    @foreach (var item in Model)
                    {
                        <li data-filter="._@item.Id">@item.Name</li>

                    }
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" style="position: relative; height: 1267.11px;">



            @foreach (var item in (List<Product>)ViewBag.Products)
            {


                <div class="col-lg-4 col-md-6 portfolio-item _@item.Catid">
                    <div class="portfolio-wrap">
                        <img src="../../@item.Photo" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>@item.Name</h4>
                            <p>@item.Price </p>
                        </div>
                        <div class="portfolio-links">
                            <a href="../../@item.Photo" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.Description"><i class="bx bx-plus"></i></a>
                            <a href="/home/item/@item.Id" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>



            }



        </div>

    </div>
</section>


<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>اراء العملاء</h2>
            <p>كل مايقوله عملائنا عنا</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                @foreach (var item in (List<Review>)ViewBag.Reviews)
                {


                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                @item.Description
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="../../assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                            <h3>@item.Name</h3>
                            <h4>@item.Subject</h4>
                        </div>
                    </div>

                    <!-- End testimonial item -->
                }


            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->


<section id="contact" class="contact section-bg">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <p> What is your opinon in our website</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="info-box mb-4">
                    <i class="bx bx-map"></i>
                    <h3>Our Address</h3>
                    <p>Samannoud City, Samanoud, Gharbia Governorate 6783504</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Us</h3>
                    <p>zedanh3@gmail.com</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Us</h3>
                    <p>+20 100 9658 621</p>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-6 ">
                <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13685.3016014655!2d31.232504730606895!3d30.961400255265023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7a2eaad480117%3A0x283ca478d01a11ff!2sSamannoud%2C%20Samannoud%20City%2C%20Samanoud%2C%20Gharbia%20Governorate%206783504!5e0!3m2!1sen!2seg!4v1660172054821!5m2!1sen!2seg" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen=""></iframe>
            </div>

            <div class="col-lg-6">
                <form asp-controller="Home" asp-action="Savereview" method="post">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" id="Name" name="Name" class="form-control" placeholder="Your Name" required="">
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="Email" id="Email" placeholder="Your Email" required="">
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="Subject" id="Subject" placeholder="Subject" required="">
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" id="Description" name="Description" rows="5" placeholder="Message" required=""></textarea>
                    </div>

                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section>








